<!DOCTYPE html>
<html>
  <head>
    <title>암호찾기</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>암호찾기</h1>
    <p>Welcome to 암호찾기</p>
    <form action="/find" method="post">
      id : <input type="text" name="id" , id="id" /> <br />
      email :
      <input type="email" name="email" , id="email" />
      <input type="submit" value="암호찾기" />
    </form>
  </body>
</html>
