<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>컴퓨터 상품소개</title>
  </head>
  <body>
    <h1>컴퓨터1</h1>
    <p>가격 : <%= price %></p>
    <p>사양 : <%= qual %></p>
    <img
      src="https://cdn-pro-web-37-224.cdn-nhncommerce.com/pickbytr0753_godomall_com/data/goods/23/06/25/7792/7791_detail_055.jpg"
      alt="컴퓨터"
    />
  </body>
</html>
