<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회사소개</title>
  </head>
  <body>
    <h1>회사소개 웹페이지</h1>
    <p>우리회사는 강남구 텧란로 415</p>
    <p>회사이름 : <%= companyName %></p>
    <p>ceo : <%= title %></p>
  </body>
</html>
