<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원약관</title>
  </head>
  <body>
    <h1>회원약관</h1>

    <p>회원약관페이지임</p>
    <script>
      function fnFormCheck() {
        console.log("약관 페이지.");
        return true;
      }
    </script>
  </body>
</html>
