<!DOCTYPE html>
<html>
  <head>
    <title>상품</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= productName %></h1>
    <p>product id : <%= productID %></p>
  </body>
</html>
