<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>회원가입</h1>
    <p>Welcome to 회원가입</p>
    <form action="/entry" method="post">
      id : <input type="text" name="id" , id="id" /> <br />
      password :
      <input type="password" name="password" , id="password" />
      <input type="submit" value="회원가입" />
    </form>
  </body>
</html>
